.sasha__footer {
  display: flex;
padding: 0;
  background-color:#b7fdff;
  flex-direction: column;
  align-items:center;
  margin-bottom:45px;
}
.sasha__footer .sasha__footer-postcard{
  width:85vw;
  max-width:90vh;
  max-height:90vh;
  aspect-ratio:1/0.89;
  background-color:rgba(255, 255, 255, 0.459);
box-shadow: 0px 15px 25px 5px black;
transition:0.3s;
border-radius:2%;
}
.sasha__footer .sasha__footer-postcard:hover{
background-color: white;
}

.sasha__footer-contact img{
  border-radius:18px;
  padding:10px;
  box-sizing:content-box;
  height:70px;
  width:70px;
  aspect-ratio: 1/1;
  margin-top:50px;
  transition:0.25s;
  background-color:rgba(255, 255, 255, 0);
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
}
.sasha__footer-contact img:hover{
background-color:rgba(255, 255, 255, 0.938);
transform:scale(1.1);
box-shadow: 12px 6px 15px 0px rgba(0, 0, 0, 0.301);
}
.sasha__footer-buttonPanel{
display:flex;
flex-direction:row;
align-items:flex-start;
margin-bottom:1rem;
max-width:90vh;
width:100%;
justify-content:space-evenly;
}